<meta charset="UTF-8"> <!-- 设置字符集为UTF-8 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 设置视口宽度为设备宽度，初始缩放比例为1.0 -->
<link rel="stylesheet" href="/static/style.css"> <!-- 引入样式文件 -->
<script src="https://cdn.tailwindcss.com"></script> <!-- 引入Tailwind CSS库 -->
<script src="/static/chart.umd.js"></script>
<script src="/static/chart.js"></script>

<script>
    tailwind.config = { // 配置Tailwind CSS
        darkMode: 'class' // 设置暗色模式为类名
    }

    // Check initial theme
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
    } else {
        document.documentElement.classList.remove('dark')
    }

    // Listen for toggle
    function toggleDarkMode() {
        const themeText = document.getElementById('theme-text');
        if (document.documentElement.classList.contains('dark')) {
            document.documentElement.classList.remove('dark')
            localStorage.theme = 'light'
            themeText.textContent = 'Dark Mode'
        } else {
            document.documentElement.classList.add('dark')
            localStorage.theme = 'dark'
            themeText.textContent = 'Light Mode'
        }


        <!-- 加上判空判断 -->
        if (lightTheme && darkTheme) {
            if (document.documentElement.classList.contains('dark')) {
                lightTheme.disabled = true;
                darkTheme.disabled = false;
            } else {
                lightTheme.disabled = false;
                darkTheme.disabled = true;
            }
          }
    }

    // Set initial button text
    window.addEventListener('DOMContentLoaded', () => {
        const themeText = document.getElementById('theme-text');
        themeText.textContent = document.documentElement.classList.contains('dark') ? 'Light Mode' : 'Dark Mode';
    
    });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css" 
      class="code-theme-dark" disabled>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<script src="/static/marked.min.js"></script>

